.btn {
    border:2px solid black;
    border-radius: 3px;
    background:transparent;
    padding: 10px;
    transition: 0.5s;
    height: 50px;
    width: 200px;
    text-align: center;
}
.btn:hover{
    color: white;
    background: black;
    cursor: pointer;
}